{% if test_data.nonmissed_tests %}
All tests:
    {% for arch, tests_by_arch in test_data.nonmissed_tests|groupby("architecture") %}
        {% for variant, tests in tests_by_arch|groupby("variant") %}
    {{ arch }}{{ " ({})".format(variant) if variant else "" }}:
            {% for test in tests %}
        {{ test.status|status_to_emoji }} {{ test.waived_failure|yesno("🚧 ,") }}{{ test.status }} {{ test.comment }}
        {# In order to align nested text to the status-emoji above, use "　" (CJK space) from here on out #}
                {% for issue_occurrence in test.issues_occurrences %}
                    {% if issue_occurrence.is_regression %}
        　 Regression:
                    {% else %}
        　 Known issue:
                    {% endif %}
        　     {{ issue_occurrence.issue.description }} - {{ issue_occurrence.issue.ticket_url }}
                {% endfor %}
                {% if test.testresults and test.status != "PASS" %}
                    {% if test.missed_testresults %}
        　 Subtests missed: {{ test.missed_testresults|length }} out of {{ test.testresults|length }}
                    {% endif %}
                    {% if test.nonpassing_ran_testresults %}
        　 Non-passing run subtests:
                        {% for testresult in test.nonpassing_ran_testresults %}
        　     {{ testresult.status|status_to_emoji }} {{ testresult.status }} {{ testresult.name }}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}
{% endif %}
{% if test_data.errored_tests %}
Aborted tests
-------------
Tests that didn't complete running successfully are marked with ⚡.
If this was caused by an infrastructure issue, we try to mark that
explicitly in the report.

{% endif %}
{% if test_data.waived_tests %}
Waived tests
------------
Failures of waived tests are marked with 🚧. Such tests are executed but their
results are not taken into account. Tests are waived when their results are not
reliable enough, e.g. when they're just introduced or are being fixed.
{% endif %}
