One or more kernel builds failed:
{% if build_data.unknown_issues_builds %}
    Unrecognized or new issues:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture,variant') %}
        {{ '%8s'|format(build.architecture) }}{{ " ({})".format(build.variant) if build.variant else "" }} - {{ dw_url }}/kcidb/builds/{{ build.id }}
    {% endfor %}
{% endif %}
{% if build_data.known_issues_builds %}
    We also see the following known issues which are not related to your changes:
    {% for build in build_data.known_issues_builds|sort(attribute='architecture,variant') %}
        {{ '%8s'|format(build.architecture) }}{{ " ({})".format(build.variant) if build.variant else "" }} - {{ dw_url }}/kcidb/builds/{{ build.id }}
        {% for issue_occurrence in build.issues_occurrences %}
                   Issue: {{ issue_occurrence.issue.description }}
                          {{ issue_occurrence.issue.ticket_url }}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if build_data.non_booting_builds %}
    Builds that are failing to boot:
    {% for build in build_data.non_booting_builds|sort(attribute='architecture,variant') %}
        {{ '%8s'|format(build.architecture) }}{{ " ({})".format(build.variant) if build.variant else "" }} - {{ dw_url }}/kcidb/builds/{{ build.id }}
    {% endfor %}
{% endif %}
