{% if test_data.missed_tests %}
Tests that were not ran because of internal issues:
    {% for group_comment, test_group in test_data.missed_tests|groupby("comment") %}
    {{ group_comment }} [{{ test_group|map('get_architecture_plus_variant')|unique|sort|join(', ') }}]
    {% endfor %}
{% endif %}
