One or more kernel tests failed:
{% if test_data.regressions %}
    ❗ Regression(s) detected:
    {% for test in test_data.regressions|sort(attribute="architecture,variant") %}
        {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
        {% for issue_occurrence in test.issues_occurrences %}
          {% if issue_occurrence.is_regression %}
                   Issue: {{ issue_occurrence.issue.description }}
                          {{ issue_occurrence.issue.ticket_url }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.id }}
          {% endif %}
        {% endfor%}
    {% endfor %}

    Note: Any of these might not be a regression and/or we might have mistakenly thought this issue to be fixed.
          If it is not a regression, please ask the test maintainer to reopen the issue and untag the regression from this execution.

{% endif %}
{% if test_data.untriaged_failed_tests %}
    Unrecognized or new issues:
    {% for group_comment, test_group in test_data.untriaged_failed_tests|groupby("comment") %}
        {{ group_comment }}
        {% for test in test_group %}
            {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.id }}
            {% if test.testresults %}
                {% if test.missed_testresults %}
                   Subtests missed: {{ test.missed_testresults|length }} out of {{ test.testresults|length }}
                {% endif %}
                {% if test.untriaged_testresults %}
                   Non-passing ran subtests:
                    {% for testresult in test.untriaged_testresults %}
                       {{ testresult.status|status_to_emoji }} {{ testresult.status }} {{ testresult.name }}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endif %}
{% if test_data.triaged_tests %}
    We also see the following known issues which are not related to your changes:
    {% for url, issue in test_data.known_issues.items() %}
        Issue: {{ issue.issue.description }}
            URL: {{ url }}
            Affected tests:
        {% for group_comment, testresult_group in issue.tests|unique_test_descriptions()|groupby("comment") %}
                {{ group_comment }} [{{ testresult_group|map('get_architecture_plus_variant')|join(', ') }}]
        {% endfor %}
    {% endfor %}

{% endif %}
