{# Returns the summarized outcome formatted as JSON #}
{% if checkout_data.checkout.valid is false %}

{{ {"failed_checkouts": [checkout_data.checkout]}|get_attributes|to_json }}

{% else %}

{{ {
"untriaged_builds": build_data.unknown_issues_builds,
"non_booting_builds": build_data.non_booting_builds,
"regression_tests": test_data.regressions,
"untriaged_tests": test_data.untriaged_tests,
"missed_tests": test_data.missed_tests,
}|get_attributes|to_json }}
{% endif %}
