{% extends "base.j2" %}
{% block body %}

{% if checkout_data.checkout.valid is false %}
    {% if checkout_data.checkout.log_url %}
Merge log: {{ checkout_data.checkout.log_url }}
    {% endif %}
    {% if checkout_data.checkout.log_excerpt %}
Log excerpt:
        {% if checkout_data.checkout.log_excerpt|length < 3000 %}
    {{ checkout_data.checkout.log_excerpt|indent(4) }}
        {% else %}
    Log excerpt too long, please check merge log or checkout page.
        {% endif %}
    {% endif %}
{% endif %}
{% if build_data.non_booting_builds %}
Builds that are failing to boot:
    {% for build in build_data.non_booting_builds|sort(attribute='architecture,variant') %}
    {{ '%8s'|format(build.architecture) }}{{ " ({})".format(build.variant) if build.variant else "" }}
    {% endfor %}

{% endif %}
{% if build_data.unknown_issues_builds %}
Unrecognized or new issues in builds:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture,variant') %}
{{ build.architecture }}{{ " ({})".format(build.variant) if build.variant else "" }} build:
        {% if build.compiler %}
    Compiler: {{ build.compiler }}
        {% endif %}
        {% if build.command %}
    Command: {{ build.command }}
        {% endif %}
        {% if build.config_name %}
    Config: {{ build.config_name }}
        {% endif %}
        {% if build.config_url %}
    Config url: {{ build.config_url }}
        {% endif %}
        {% if build.log_url %}
    Full build log: {{ build.log_url }}
        {% endif %}
        {% if build.log_excerpt %}
    Log excerpt:
            {% if build.log_excerpt|length < 3000 %}
        {{ build.log_excerpt|indent(8) }}
            {% else %}
        Log excerpt too long, please check full build log or the build page.
            {% endif %}
        {% endif %}

    {% endfor %}
{% endif %}
{# NOTE: the checkout-all API doesn't serialize test files, so this template only works from-file #}
{% if test_data.regressions %}
❗ Regression(s) detected:
    {% for test in test_data.regressions|sort(attribute="architecture") %}
{{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }} (ID={{ test.id }}):
        {% if test.log_url or test.output_files %}
    Logs:
            {% if test.log_url %}
        - main-output.log: {{ test.log_url }}
            {% endif %}
            {% if test.output_files %}
                {% for file in test.output_files|get_artifacts %}
        - {{ file.name }}: {{ file.url }}
                {% endfor %}
            {% endif %}
        {% endif %}

        {% for issue_occurrence in test.issues_occurrences %}
            {% if issue_occurrence.is_regression %}
    Issue: {{ issue_occurrence.issue.description }}
            {{ issue_occurrence.issue.ticket_url }}
                {# FIXME: The current data structure doesn't favor detailed subtests. #}
                {% if issue_occurrence.testresult_id %}
        Specifically subtest: {{ issue_occurrence.testresult_id }}
                {% endif %}
            {% endif %}
        {% endfor%}
    {% endfor %}

    Note: Any of these might not be a regression and/or we might have mistakenly thought this issue to be fixed.
            If it is not a regression, please ask the test maintainer to reopen the issue and untag the regression from this execution.

{% endif %}
{% if test_data.untriaged_tests %}
Unrecognized or new issues in tests:
    {% for test in test_data.untriaged_tests|sort(attribute="architecture")|rejectattr("status","in","MISS") %}
{{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.status|status_to_emoji }} {{ test.comment }} (ID={{ test.id }}):
        {% if test.log_url or test.output_files %}
    Logs:
            {% if test.log_url %}
        - main-output.log: {{ test.log_url }}
            {% endif %}
            {% if test.output_files %}
                {% for file in test.output_files|get_artifacts %}
        - {{ file.name }}: {{ file.url }}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if test.testresults %}
            {% if test.missed_testresults %}
    Subtests missed: {{ test.missed_testresults|length }} out of {{ test.testresults|length }}
            {% endif %}
            {% if test.untriaged_testresults %}
    Non-passing ran subtests:
                {% for testresult in test.untriaged_testresults %}
        {{ testresult.status|status_to_emoji }} {{ testresult.status }} {{ testresult.name }}
                {% endfor %}
            {% endif %}
        {% endif %}

    {% endfor %}
{% endif %}
{{ inc('tests_missed_list') }}
{% endblock %}
