{% extends "base.j2" %}

{% block head %}
{{ super() }}
{% if checkout_data.checkout.comment or (checkout_data.checkout.misc['brew_task_id'] | default(false)) %}
Kernel information:
    {% if 'related_merge_request' in checkout_data.checkout.misc %}
    Merge Request: {{ checkout_data.checkout.misc['related_merge_request']['url'] }}
    {% elif checkout_data.checkout.comment %}
    Commit message: {{ checkout_data.checkout.comment }}
    {% elif (checkout_data.checkout.misc['brew_task_id'] | default(false)) %}
    Brew / Koji Task ID: {{ checkout_data.checkout.misc['brew_task_id'] }}
    {% endif %}

{% endif %}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.id }}

{% if checkout_data.checkout.valid is false %}
{{ inc('merge_fail_summary') }}
{% endif %}
{% if build_data.builds and (build_data.failed_builds or build_data.non_booting_builds) %}
{{ inc('builds_fail_summary') }}
{% endif %}
{% if test_data.nonmissed_tests and test_data.failed_tests %}
{{ inc('tests_fail_summary') }}
{% endif %}
{% if test_data.missed_tests %}
{{ inc('tests_missed_list') }}
{% endif %}

{% endblock %}
